<template>
    <div class="servicesContent">
        <div class="card serviceCards aicard">
            <div class="imgDiv">
                <img class="imgTag" src="~/static/ai.png"/>
            </div>
            <h6 class="serviceTitle">AI</h6>
            <p class="servicesText" @mouseover="expandCard()" @mouseleave="resetCard()">
                {{aiText}}
            </p>
        </div>
        <div class="card serviceCards erpcard">
            <div class="imgDiv">
                <img class="imgTag" src="~/static/erp.png"/>
            </div>
            <h6 class="serviceTitle">ERP</h6>
            <div class="servicesText" @mouseover="expandCard()" @mouseleave="resetCard()">
                <p>
                    we have provided Time optimal, COst Effective and Industry standard Enterprise Software IMplementations, upgrades & Customizations 
                    for numerous small, midsize & large Cokmpanies in tge manufacturing, Distrubution, Transportatio, Energy, real Estate, Health, Entertainment
                    and Goverment sectors for the more than 15+ year. our Experstise in ERP include the following orcale suits of products:
                    <ul>
                        <li>
                            Peoplesoft Enterprise
                        </li>
                        <li>
                            JD Edwards EnterpriseOne
                        </li>
                        <li>
                            Fusion Technologies including BI Publisher, Business Service, cloud Integrations
                        </li>
                        <li>
                            SalesForce CRM technologies 
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="card serviceCards iotcard">
            <div class="imgDiv">
                <img class="imgTag" src="~/static/iot.png"/>
            </div>
            <h6 class="serviceTitle">IoT</h6>
            <p class="servicesText" @mouseover="expandCard()" @mouseleave="resetCard()">
                {{aiText}}
            </p>
        </div>
    </div>
</template>

<script>
export default {

    data() {
        return {
            aiShortText: `Data Mining, Artificial Intelligence and Machine learning based Data Analytics are at the heart of our 
                IoT platform Spolutions. We combine the power of AI & Machine Learning with Data Privacy & Security to
                enable our customers automate ...`,
            aiLongTextL: `Data Mining, Artificial Intelligence and Machine learning based Data Analytics are at the heart of our 
                IoT platform Spolutions. We combine the power of AI & Machine Learning with Data Privacy & Security to
                enable our customers automate their infrastructure and daily operations with highly, responsive and realtime data powerhouse
                systems.`,
            aiText: this.aiShortText
        }
    },
    methods: {
        expandCard() {
            console.log("here");
            this.aiText = this.aiLongTextL;
        },
        resetCard() {
            this.aiText = this.aiShortText;
        }
    },
    mounted() {
        this.aiText = this.aiShortText;
    }

}
</script>

<style>

.serviceTitle {
    text-align: center;
    font-size: 35px;
}

.servicesContent {
    margin: 5% 19%;
    display: flex;
    position: relative;
}

.serviceCards {
    width: 350px;
    height: 500px;
    margin: 20px;
    padding: 20px;
    box-shadow: 7px 19px 40px 10px rgba(128,128,128,0.21961);
    transform: translate(0px 100px);
}

.aicard:hover {
    z-index: 10;
    width: 750px;
    height: 600px;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.erpcard:hover {
    z-index: 10;
    width: 750px;
    height: 600px;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.iotcard:hover {
    z-index: 10;
    width: 750px;
    height: 600px;
    transition-timing-function: ease-in;
    transition: 0.2s;
}
.imgDiv {
    position: relative;
    width: 100%;
    height: 25%;
}

.imgTag {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

.servicesText {
    font-size: 19px;
    padding: 20px;
    text-overflow: ellipsis;
    height: 300px;
    text-align: justify;
    overflow: hidden;
}
</style>

