<template>
  <section class="sectionBody">
    <div class="header">
      <div class="logo">
        <span>EA</span>
      </div>
      <div class="headerContent">
        <span class="headerMenu" @click="scrollMeTo('services')">Services</span>
        <span class="headerMenu">Partner's & CLient's</span>
        <span class="headerMenu" @click="scrollMeTo('contactForm')">Contact Us</span>
      </div>
    </div>
    <div>
      <div class="gearsContent">
        <div class="gears">
          <div class="aigear">AI</div>
          <div class="erpgear">ERP</div>
          <div class="iotgear">IoT</div>
          <svg class="svg-illu svgClass" viewBox="0 0 901.806 1201.411">
            <g fill="#FF5252">
              <circle cx="446.39" cy="943.119" r="111.367" />
              <circle fill="#FFFFFF" cx="446.39" cy="943.12" r="78.062" />
              <polygon points="395.559,862.793 450.224,848.169 422.359,801.246 396.271,808.225 	" />
              <polygon points="351.454,939.176 366.078,993.841 311.509,993.128 304.53,967.04 	" />
              <polygon
                points="497.173,1023.266 442.508,1037.89 470.372,1084.812 496.46,1077.834 	"
              />
              <polygon points="541.227,947.09 526.603,892.426 581.171,893.138 588.15,919.226 	" />
              <polygon points="353.681,922.188 381.993,873.194 329.11,859.718 315.599,883.099 	" />
              <polygon
                points="376.504,1007.387 425.498,1035.699 386.409,1073.781 363.027,1060.27 	"
              />
              <polygon
                points="539.003,963.808 510.69,1012.803 563.573,1026.279 577.085,1002.897 	"
              />
              <polygon points="516.29,878.792 467.296,850.479 506.386,812.397 529.767,825.909 	" />
              <animateTransform
                attributeName="transform"
                attributeType="XML"
                type="rotate"
                from="0 446 943"
                to="360 446 943"
                dur="5s"
                repeatCount="indefinite"
              />
            </g>

            <g fill="#3D5AFE">
              <circle cx="637.25" cy="611.257" r="221.065" />
              <circle fill="#FFFFFF" cx="637.25" cy="611.258" r="170.05" />
              <polygon points="520.69,453.546 583.968,422.525 535.886,366.294 505.688,381.098 	" />
              <polygon points="448.518,664.54 479.539,727.817 407.091,742.819 392.287,712.622 	" />
              <polygon points="753.81,768.969 690.533,799.99 738.614,856.221 768.812,841.417 	" />
              <polygon points="825.982,557.975 794.962,494.698 867.409,479.696 882.214,509.893 	" />
              <polygon points="442.931,582.028 465.739,515.35 392.878,509.895 381.994,541.716 	" />
              <polygon points="541.343,782.769 608.021,805.577 567.709,866.515 535.888,855.63 	" />
              <polygon points="831.569,640.486 808.761,707.165 881.622,712.62 892.507,680.8 	" />
              <polygon points="733.158,439.747 666.479,416.938 706.792,356.001 738.612,366.886 	" />
              <polygon points="468.256,510.983 514.501,457.808 449.062,425.308 426.992,450.685 	" />
              <polygon points="483.8,734.007 536.976,780.252 476.678,821.516 451.301,799.446 	" />
              <polygon points="806.245,711.532 759.999,764.708 825.438,797.207 847.509,771.83 	" />
              <polygon points="790.7,488.508 737.525,442.263 797.823,401 823.2,423.069 	" />
              <polygon points="446.848,659.851 441.948,589.549 372.695,612.841 375.033,646.391 	" />
              <polygon points="615.542,806.56 685.843,801.66 672.383,873.475 638.834,875.813 	" />
              <polygon points="827.652,562.665 832.553,632.966 901.806,609.675 899.468,576.125 	" />
              <polygon points="658.959,415.956 588.658,420.855 602.117,349.041 635.667,346.702 	" />
              <animateTransform
                attributeName="transform"
                attributeType="XML"
                type="rotate"
                from="360 640 611"
                to="0 640 611"
                dur="10s"
                repeatCount="indefinite"
              />
            </g>
            <g fill="#FDD835">
              <circle cx="230.003" cy="381.364" r="192.407" />
              <circle fill="#FFFFFF" cx="230.003" cy="381.364" r="148.005" />
              <polygon points="154.936,228.312 213.965,211.651 181.466,155.533 153.296,163.484 		" />
              <polygon points="60.29,397.402 76.952,456.431 12.123,458.071 4.172,429.901 		" />
              <polygon points="305.002,534.175 245.973,550.837 278.472,606.954 306.642,599.003 		" />
              <polygon points="399.476,365.394 382.814,306.365 447.643,304.725 455.594,332.895 		" />
              <polygon points="68.201,325.942 98.159,272.42 36.63,256.353 22.333,281.895 		" />
              <polygon points="121.06,513.208 174.581,543.166 130.534,589.034 104.992,574.737 		" />
              <polygon points="391.805,436.786 361.847,490.308 423.376,506.375 437.673,480.833 		" />
              <polygon points="338.946,249.521 285.425,219.562 329.472,173.694 355.014,187.991 		" />
              <polygon points="100.997,269.075 148.91,230.781 97.965,192.719 75.1,210.994 		" />
              <polygon points="79.42,462.457 117.714,510.37 59.633,536.267 41.358,513.402 		" />
              <polygon points="359.009,493.653 311.096,531.947 362.041,570.009 384.906,551.734 		" />
              <polygon points="380.586,300.271 342.292,252.358 400.373,226.461 418.648,249.326 		" />
              <polygon points="59.382,393.185 66.183,332.228 3.246,341.337 0,370.427 		" />
              <polygon points="180.866,545.184 241.824,551.985 219.066,611.367 189.976,608.121 		" />
              <polygon points="400.625,369.543 393.823,430.5 456.761,421.391 460.006,392.301 		" />
              <polygon points="279.14,217.544 218.182,210.743 240.939,151.361 270.03,154.607 		" />
              <animateTransform
                attributeName="transform"
                attributeType="XML"
                type="rotate"
                from="0 230 381"
                to="360 230 381"
                dur="10s"
                repeatCount="indefinite"
              />
            </g>
          </svg>
        </div>
        <div class="gearsText">
          <p>
            Welcome to Earle Analytics, a data centric IT solution Provider!!!
            Privacy & Security based, AI & Machine Learning powered, Intelligent & Insightful driven, your DATA is in safe hands!
          </p>
        </div>
      </div>
      <services id="services" />
      <div class="contact" id="contactForm">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Contact Request Form</p>
          </header>
          <div class="card-content">
            <div>
              <strong>Please contact us using the below form to learn more about out IT products and Services and you will hear from us promptly. Thank you!</strong>
            </div>
            <form action="mailto:manojkumar.gandi95@gmail.com">
              <div class="field">
                <div class="control">
                  <input class="input is-info" type="text" placeholder="Name" />
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input is-info" type="text" placeholder="Company" />
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input is-info" type="text" placeholder="Desgination" />
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input is-info" type="text" placeholder="Email" />
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input is-info" type="text" placeholder="Phone" />
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <textarea class="textarea" placeholder="Query/Comments"></textarea>
                </div>
              </div>
              <button class="button is-link">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          
        </p>
      </div>
    </footer>
  </section>
</template>

<script>
import Services from "~/components/services.vue";

export default {
  components: {
    Services
  },
  methods: {
    scrollMeTo(refName) {
      var el = document.getElementById(refName);
      var scrollLength = el.offsetTop;

      var options = {
        top: scrollLength - 85,
        behavior: "smooth"
      };

      window.scrollTo(options);
    }
  }
};
</script>

<style>
.homeContent {
  margin: 0 20px;
}

.header {
  height: 65px;
  display: flex;
  padding: 18px 25px 0px;
  border-bottom: 1px solid #80808054;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #ffffff !important;
}

.sectionBody {
  width: 100vw !important;
}

.gearsContent {
  margin: 0;
  height: 670px;
  background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
.gearsContent:before {
  content: "";
  height: 741px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 850px;
  width: 100px;
  background: #ffffff;
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
}

.aigear {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 60px;
  background: #ff5252;
  text-align: center;
  vertical-align: middle;
  padding: 7px 0;
  font-size: 25px;
  bottom: 122px;
  left: 222.5px;
  color: #ffffff;
  z-index: 1;
}

.erpgear {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #3d5afe;
  border-radius: 60px;
  text-align: center;
  color: #ffffff;
  font-size: 35px;
  padding: 23px 0;
  bottom: 281.5px;
  left: 304.5px;
  z-index: 1;
}

.headerMenu {
  font-size: 20px;
  text-transform: capitalize;
  padding: 23px;
  letter-spacing: 0.6px;
  cursor: pointer;
}

.svgClass {
  position: relative;
}

.iotgear {
  position: absolute;
  width: 80px;
  height: 80px;
  background: yellow;
  border-radius: 60px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7098);
  font-size: 35px;
  padding: 15px 0;
  bottom: 419.5px;
  left: 86.5px;
  z-index: 1;
}

.logo {
  width: 50%;
}

.headerContent {
  width: 50%;
}

.gearsContent {
  display: flex;
}

.gearsText {
  position: relative;
  width: 50%;
  transform: translate(50px, 50px);
}

.gearsText p {
  font-size: 30px;
  width: 70%;
  margin: auto;
  height: 100%;
  padding-top: 179px;
  color: #ffffff;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.gears {
  min-width: 500px;
  max-width: 500px;
  margin: 0 210px;
  position: relative;
}

.links {
  padding-top: 15px;
}

.contact {
  width: 800px;
  height: 500px;
  padding: 20px;
  margin: auto;
  margin-bottom: 60px !important;
}
</style>
